@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Grid Pricing tables -->

<!--div class="card container w3-center pt-4 w3-text-grey" id="Test"-->



<div class="w3-center pt-4 w3-text-white" id="Basic">

    <h1 style="font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">VITAMÍNOVÉ DOPLNKY-ZINZINO<br>VAŠE TRI KROKY K ROVNOVÁHE!</h1>
    <br>
    <h2 class="w3-blue w3-card w3-centered pt-md-2 w3-text-white">Začnite svoju cestu za zdravím už dnes a vyberte si z našej ponuky.</h2>
    @*<br>
    <hr class="w3-opacity">*@
    <p style="font-size: 20px; color: white; text-align: center; text-shadow: 1px 1px 4px #5d33fb">POČÚVAJTE SVOJE SRDCE!</p>
    Získajte prispôsobenú analýzu pomeru omega-6 a omega-3 mastných kyselín vo vašom tele v pomere 3:1.
    <br>
    <br>Lepšie zdravie sa začína lepšou rovnováhou konkrétne v našich bunkách, črevách a imunitnom systéme.
    zdravotného protokolu spoločnosti Zinzino, ktoré sa začínajú jedinečným testom, napomáhajú budovať
    rovnováhu, zregenerovať a posilniť organizmus, čím zvyšujú vaše šance na zdravší, dlhší a šťastnejší
    život.V dnešnom modernom svete sa stravujeme inak než začiatkom 20. storočia, keď ľudia napríklad ešte
    nepoznali rýchle občerstvenie. Ale ak si aj varíte vlastné jedlo, prísady už, žiaľ, nie sú také kvalitné
    ako kedysi. Mäso pochádza zväčša zo zvierat žijúcich v stajniach, ktoré sa nepasú voľne na lúkach, ale
    sa živia krmivom, a ryby ako losos sa chovajú v uzavretých nádržiach a dostávajú potravu pre ryby, nie
    riasy z hlbokých morí. Má to enormný vplyv na výživové hodnoty potravín, a teda aj na naše bunky,
    tkanivá a organizmy.
    <br>
    BalanceTest od spoločnosti Zinzino je jednoduchý samotest na analýzu mastných kyselín v krvi. Jeho
    výsledok bude odzrkadlením tukov v strave, ktorú konzumujete. BalanceTest je samotest pomocou suchej
    kvapky krvi (DBS), o ktorej bolo vedecky preukázané, že v prípade analýzy mastných kyselín je rovnako
    presná ako vzorka žilovej krvi. Stačí niekoľko kvapiek krvi z bruška prsta, ktoré nanesiete na filtračný
    papier. Test trvá menej ako minútu. Spoločnosť VITAS Analytical Services* vykoná anonymnú analýzu obsahu
    11 mastných kyselín**, ktoré spoločne tvoria približne 98 % mastných kyselín v krvi. Medzi mastné
    kyseliny patria nasýtené, mononenasýtené (omega-9) a polynenasýtené (omega-6 a omega-3) mastné kyseliny.
    Výsledok nájdete približne o 20 dní na webovej lokalite zinzinotest.com, kde budú aj informácie o
    rovnováhe omega-6 a omega-3 mastných kyselín, obsahu omega-3 mastných kyselín, ochrannom profile
    mastných kyselín a ďalšie údaje.
    <br>
    @*<div style="font-size:15px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb;">
        <iframe class='sproutvideo-player' src='https://videos.sproutvideo.com/embed/4d9ed8b71c1debc8c4/c9c0194a379f174d?type=hd&playerColor=ffffff' style="width:100%; height: 200%;"></iframe>
       
    </div>*@
    Štúdie profilu mastných kyselín v krvi preukázali, že tento profil úzko súvisí so zdravotným stavom.
    Samotestovanie pomocou suchej kvapky krvi.
    Určuje hladinu 11 mastných kyselín v krvi.
    Informuje vás o rovnováhe medzi omega-6 a omega-3 kyselinami.
    <br>
    <br>
    <details>
        <p style="font-size: 10px; color: #ffffff; text-shadow: 1px 1px 4px #fff;">
            *Vitas je zmluvné laboratórium s certifikátom GMP vykonávajúce chemické analýzy, ktoré má 20 rokov
            praxe s poskytovaním vysokokvalitnej chromatografickej analýzy založenej na špičkových vedomostiach
            a technológiách.
            **Ide o týchto 11 mastných kyselín: kyselina palmitová (PA), kyselina stearová (SA), kyselina
            olejová (OA), kyselina linolová (LA), kyselina alfa-linolénová (ALA), kyselina gama-linolénová
            (GLA), kyselina dihomo-gama linolénová (DHGLA), kyselina arachidónová (AA), kyselina
            eikozapentaénová (EPA), kyselina dokozapentaénová (DPA), kyselina dokozahexaénová (DHA).
        </p>

        <br>


        <!--p style="font-size:15px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb;"><a class="w3-button w3-white w3-padding-small w3-hover-blue" href="https://www.zinzino.com/site/SK/sk-SK/" target="_blank">
                Tu sa priamo registrujete na oficiálnom slovenskom webe Zinzino!
            </a></p-->
        <br>
    </details>
</div>
<br>
<br>
<section class="products">

    <div class="card w3-center pt-4 w3-text-grey">
        <div class="product" id="" data-product-name="BalanceOil">
            <h2>BalanceOil Orange</h2>
            <p1 class="w3-button w3-blue w3-padding-large">BalanceOil Orange 54 €/ks</p1>
            <!--button onclick="addItemToCart('BalanceOil', 54.00, './Image/BalanceOil.webp')">Pridať do košíka</button-->
            <button class="add-to-cart" title="Pre pridanie do košíka kliknite">Pridať do <span class="glyphicon glyphicon-shopping-cart"></span></button>




            <a data-fancybox="gallery" href="~/Image/BalanceOil.jpg"><img class="rounded" src="~/Image/BalanceOil.jpg" alt="BalanceOil" style="width:100%" title="Lepšie zdravie sa začína lepšou rovnováhou.SPRAVTE TRI KROKY K ROVNOVÁHE,REGENERÁCII A POSILNENIU ZDRAVIA "></a>

            <br>
            <details>
                <p style="font-size:10px;color:#000;text-shadow:1px 1px 4px #fff;">
                    Prispieva k normálnej funkcii mozgu, pretože denná dávka obsahuje 700 mg DHA
                    Prispieva k normálnemu imunitnému systému, pretože denná dávka obsahuje 20 µg vitamínu D3
                    Pomáha udržiavať dostatočné hladiny EPA a DHA vo vašom tele
                    Pomáha udržiavať optimálnu hladinu omega 6:3 mastných kyselín vo vašom tele
                    Pomáha udržiavať hladinu polyfenolov v tele na ochranu krvných lipidov pred oxidačným stresom
                    Podporuje zdravú a normálnu funkciu očí, pretože obsahuje 700 mg DHA
                    Prispieva k normálnym kostiam, funkcii svalov, normálnym zubom a deleniu buniek, pretože denná dávka obsahuje 20 µg vitamínu D3
                    Podporuje normálne hladiny triglyceridov v krvi, normálny krvný tlak a normálne hladiny vápnika v krvi
                </p>
            </details>
        </div>
    </div>
</section>

<br>
<br>


<section class="products">
    <div class="card w3-center pt-4 w3-text-grey">
        <div class="product" id="" data-product-name="Zinobiotic">
            <h2>Zinobiotic</h2>
            <p1 class="w3-button w3-blue w3-padding-large w3-hover-red">Zinobiotic Teraz v akcii zo 64€ na 50 €/ks </p1>
            <button class="add-to-cart" title="Neváhajte a pridajte si Zinobiotic do košíka">Pridať do <span class="glyphicon glyphicon-shopping-cart"></span></button>
            <!--Črevá sa už dlho označujú za „druhý mozog“. Ale až v posledných rokoch si začíname uvedomovať, aké dôležité sú črevá pre naše zdravie a duševnú pohodu. Črevá obsahujú 500 miliónov neurónov, ktoré sú s mozgom spojené prostredníctvom nervového systému. Musíme uznať dôležitosť tohto nevyhnutného systému, pretože je neoddeliteľnou súčasťou dosiahnutia rovnováhy organizmu (a života).-->




            <a data-fancybox="gallery" href="~/Image/Zinobiotic.jpg"><img class="rounded" src="~/Image/Zinobiotic.jpg" alt="Zinobiotic" style="width:100%" title=""></a>
            <br>
            <details>
                <p style="font-size:10px;color:#000;text-shadow:1px 1px 4px #fff;">
                    Črevá sa už dlho označujú za druhý mozog,ale
                    až v posledných rokoch si začíname uvedomovať, aké dôležité sú črevá pre naše zdravie a duševnú pohodu
                    Črevá obsahujú 500 miliónov neurónov, ktoré sú s mozgom spojené prostredníctvom nervového systému
                    Pomáha udržiavať optimálnu hladinu cholesterolu vo vašom tele
                    Musíme uznať dôležitosť tohto nevyhnutného systému, pretože je neoddeliteľnou súčasťou dosiahnutia rovnováhy organizmu (a života)
                    
                </p>
            </details>
        </div>
    </div>
</section>
<br>
<br>

<section class="products">
    <div class="card w3-center pt-4 w3-text-grey">
        <div class="product" id="" data-product-name="ZinzinoXtend">
            <h2>Zinzino Xtend</h2>
            <p1 class="w3-button w3-blue w3-padding-large">Zinzino Xtend 79 €/ks</p1>
            <button class="add-to-cart" title="Pre pridanie do košíka kliknite">Pridať do <span class="glyphicon glyphicon-shopping-cart"></span></button>




            <a data-fancybox="gallery" href="~/Image/ZinzinoXtend.jpg"><img class="rounded" src="~/Image/ZinzinoXtend.jpg" alt="ZinzinoXtend" style="width:100%" title=""></a>
            <details>
                <p style="font-size:10px;color:#000;text-shadow:1px 1px 4px #fff;">ZinzinoXtend je pokrokový vegánsky, výlučne prírodný výživový doplnok na podporu imunity, ktorý dokonale dopĺňa produkty BalanceOil a ZinoBiotic. Vyvinuli sme ho na podporu prirodzeného imunitného systému a obsahuje micro- a fytonutrienty vrátane 22 základných vitamínov a minerálov, ako aj purifikované 1-3, 1-6 beta glukány z pekárskeho droždia.</p>
            </details>
        </div>
    </div>
</section>
<br>
<br>


<div class="card w3-center pt-4">
    <h2 class="w3-padding-14 w3-text-grey"><i class="fa fa-globe"></i> Recenzie</h2>
    <p class="w3-center w3-text-black">
        <q>Napísali o nás</q><br><br>
        <br>"Juraj-dlhoročný zákazník"
        <br><q>Moje zdanie o produktoch Zinzino je veľmi pozitívne. Užívam ich dlhšiu dobu a cítim sa skvele. Môžem ich len odporučiť.</q>

        <br><br><br>
        
        "Radoslav-zákazník"<br>

        "Produkty Zinzino užívam skôr,ako slabosť a choroby zaklopú na dvere.<br>Čo si o nich myslíte Vy?"
        <br><br><br>
        "Janka-spokojná klientka s webom"
        <br>
        "Mám skvelú skúsenosť so službami Ladowebservis a myslím si, že sa budú páčiť aj Vám"
    </p>
        <br>


        <hr>
        <br>
    <p class="card w3-center pt-4 w3-text-grey"><q style="font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">Spokojný klient je pre nás najväčšia odmena.Neváhajte nám napísať alebo sa jednoducho registrovať</q></p>

    <a class="w3-button w3-white w3-padding-small w3-hover-blue" href="@Url.Action("Contact","Home")"title="*Hello,write me specifically which product you are interested .Thank you for the message.">Poslať nám otázky na kontaktný formulár?</a>

</div>


















