@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Music Section -->
<div class="container card py-4" id="hudba">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
            @*<h1 class="mb-3" style="font-size:20px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">Pozrite si toto video o BalanceOil — aký je dôležitý a potrebný pre naše zdravie. Mali by sme zmeniť životosprávu? Určite áno!</h1>*@

            @*<div class="embed-responsive embed-responsive-16by9 mb-3">
                    <iframe class="embed-responsive-item" src="https://videos.sproutvideo.com/embed/d390d3b31911ecc15a/eeb65011d6e6ae23?autoplay=0" title="Video Zinzino" allowfullscreen frameborder="0" style="border:0;"></iframe>

                </div>*@

            <h3 class="mt-3" style="font-size:20px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb;"><span class=""></span> ZINZINO: Zázrak alebo veda?</h3><br />
            <p class="text-black" style="text-shadow:1px 1px 4px #fff;">
                
                <a data-fancybox href="https://www.youtube.com/watch?v=rOuiwMZdH8k" class="text-black">Pozrite si ešte aj tento silný príbeh</a>

                @*<details class="mb-3 text-left">
                        <summary class="text-black"></summary>
                        <ul class="list-unstyled mt-2">

                            <li><a data-fancybox href="https://www.youtube.com/watch?v=_Itckji9UK4" class="text-black">Dj 'S' - 80s R&amp;B</a></li>
                            <li><a data-fancybox href="https://www.youtube.com/watch?v=ElDPIJjAWfY" class="text-black">Bangin Soulful House Mix</a></li>
                        </ul>
                    </details>*@

            <p class="mt-4">
                <a href="@Url.Action("MemberInfo","Home")" class="btn btn-secondary">Späť do členskej sekcie</a>
            </p>
        </div>
    </div>
</div>

