<!-- About us -->


<div class="w3-center pt-4 w3-text-white container-fluid" id="O nás">
   
    <h2 style="font-size:40px;color:white">
        Vitajte Priatelia!<br>
    </h2>
    <h1 style="font-size:20px;color:white">
        V rámci webových služieb ponúkame dizajn webov,návrh až po vytvorenie plne funkčnej webovej stránky,
        ponúkame vám zostavenie a opravy pc-komponentov,výpočtovej techniky,odporučenie softvérov a celkové vyladenie vašich pc zostáv.</h1>
        <br>Nevyhadzujte,opravujte! Šetrite tým životné prostredie a aj Vašu peňaženku.<br><br />
    </div>

        <!-- Grid for services pricing tables -->


       <div class="w3-content w3-center pt-4 w3-text-grey ">
            <h1 style="font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">PONUKA SLUŽIEB</h1>
           <div class="product" id="Basic" data-product-name="Basic">
                <ul class="w3-ul w3-green w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-dark-grey w3-large w3-padding-22 w3-center">Basic ponuka servisných PC služieb</li>
                    <li class="w3-padding
                        -15">Opravy,poradenstvo a zostavenie IT zariadení</li>
                    <li class="w3-padding
                        -15">Výmena poškodených displejov,batérii a kompletné rozobratie</li>
                    <li class="w3-padding
                        -15">Konfigurácie smart home zariadení,ich spárovanie a pod.</li>
                    <li class="w3-padding
                        -15">Odstránenie a nanesenie novej kvalitnej teplovodivej pasty</li>
                    <li class="w3-padding
                        -15">Prečistenie všetkých komponentov,nastavenie sietí, wifi routrov a pod.</li>
                    <li class="w3-padding
                        -15">Záloha vášho starého Hardisku na SSDisk</li>
                    <li class="w3-padding
                        -15">Inštalácie a funkčné zálohy OS Windows,Mac,Linux</li>
                    <li class="w3-padding
                        -15">
                        <h2>35€ </h2>
                        <span class="w3-opacity
                              ">Za jednotlivé služby v uvedenom balíku</span>
                        </li>
                    <li class="w3-light-grey w3-padding-10">
                        <a class="w3-button w3-white w3-padding-large w3-hover-blue" href="mailto:podpora@ladowebservis.sk" data-toggle="tooltip" title="Tu nás kontaktujte mailom a uvedte názov služby">podpora@ladowebservis.sk</a>
                        </li>
                    </ul>
               </div>
           </div>
    <br>


   


        <div class="w3-center pt-4 w3-text-grey">
           
            <div class="w3-content">
                <div class="product" id="" data-product-name="Premium">
                    <ul class="w3-ul w3-green w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-large w3-padding-22 w3-center">Prémiová ponuka webových služieb</li>
                        <li class="w3-padding-15">Web dizajn a vypracovanie konceptu</li>
                        <li class="w3-padding-15">2,99 €/mesačný hosting za správu vášho webu</li>
                        <li class="w3-padding-15">Fotogalérie, videá,e-shop menu a členskej sekcie,e-mailová podpora..</li>
                        <li class="w3-padding-15">Vytvorenie funkčnej webovej stránky,z vašej strany nie je potrebné programovanie</li>
                        <li class="w3-padding-15">Vytvorenie Vášho užívatelského profilu,kde si môžte editovať obsah Vášho webu a iné.</li>
                        <li class="w3-padding-15">Registrácia domény ,prenos vášho webu a pod.</li>
                        <li class="w3-padding-15">Viacjazyčný web,ochrana pred robotmi,publikovanie webu na internet atd.</li>
                        <li class="w3-padding-15">
                            <h2>499€</h2>

                            <span class="w3-opacity">Za celý balík Premium + bonus zdarma softvér Spybot S&D</span>

                        </li>
                        <li class="w3-light-grey w3-padding-10">
                            <a class="w3-button w3-white w3-padding-large w3-hover-blue" href="mailto:info@ladowebservis.sk" data-toggle="tooltip" title="Pre túto službu nás kontaktujte vo formulári">info@ladowebservis.sk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        
  
@*<h1 class="w3-text-light-blue w3-hover-white w3-wide"></h1>*@


@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@