
<!-- Music Section -->

<div class="w3-center pt-4 w3-text-black" id="hudba">
    <br>
   
    <h1 style="font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb;">Prečo treba mať kompas a nie hodinky?</h1>
    <iframe src="https://www.youtube.com/embed/9-bcnTGy9S8?autoplay=0" data-toggle="tooltip" title="Webinár" height="200" width="300" frameborder="0" style="border:0" allowfullscreen align="top" scrolling="no" name="Prečo treba mať kompas a nie hodinky?">
    </iframe>
    @*<h2 class="w3-text-black"><span class="glyphicon glyphicon-music"></span> Dj "S" - May 2024 Live Stream</h2>
    <iframe src="https://www.youtube.com/embed/AErpM1NZ9N0?si=5yiN_dA8Z2Gly5M8?autoplay=0" class="w3-center" height="310" contextmenu="500" title="Video"></iframe><br>*@
   

    <h3 style="font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb;">Hudba pre relax,tanec a volný čas!</h3>
    <details>



        <a data-fancybox href="https://youtube.com/embed/k5IC0lZqj_Y?si=GixIgU_WCKmes_AQ?autoplay=0">
            #Soulful Funky Disco House Mix October 23
        </a>
        <a data-fancybox href="https://youtube.com/embed/_Itckji9UK4?si=M25N2Lc8E-EulerP?autoplay=0">
            #Dj ''S'' - 80s R&amp;B#
        </a>


        <a data-fancybox href="https://youtube.com/embed/ElDPIJjAWfY?autoplay=0">#Bangin Soulful House Mix#</a>
    </details>

    <br><br><br>




</div>
