@model LadowebservisMVC.Models.MemberInfoModel

@{
    ViewBag.Title = "Memberinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid card pt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
            <div class="mb-3">
                <div class="d-grid gap-2 d-sm-flex justify-content-center">
                    <a class="btn btn-primary w-100 mb-2 mb-sm-0 flex-fill" href='@Url.Action("Hudba", "Home")' title="Video Youtube" role="button" aria-label="Pozrite si video">Pozrite si tento silný príbeh: Zinzino zázrak alebo veda?</a>
                    <a class="btn btn-primary w-100 mb-2 mb-sm-0 flex-fill" href='@Url.Action("Objednavky", "Home")' title="Objednávky" role="button" aria-label="Moje objednávky">Moje objednávky</a>
                    <a class="btn btn-primary w-100 mb-2 mb-sm-0 flex-fill" href='@Url.Action("Favorites", "Home")' title="Obľúbené produkty" role="button" aria-label="Obľúbené produkty">Obľúbené produkty</a>
                </div>
            </div>

            <div class="text-center mt-4">
                <a href='@Url.Action("Member","Home")' class="btn btn-info" style="margin-left:.5rem;" role="button">Späť</a>
            </div>
        </div>
    </div>
</div>

