



@{
    ViewBag.Title = "Memberinfo";
}
<div class="form-horizontal w3-text-white w3-center pt-4" id="">
 <h2 class="section-heading text-uppercase">Členská sekcia</h2>
 <h3 class="section-subheading text-white">
     Členská sekcia sa pripravuje.
     Tu nájdete neskôr všetky podstatné informácie o vašom účte.

 </h3>
    <br>
    <p><q>Ďakujeme za pochopenie.</q></p><br>
  <br><br>


<p>
        <a href="@Url.Action("Member","Home",new {area = "Memberinfo"})" class="btn btn-primary btn-lg tlacitko-moje">Odhlásiť</a>
    </p>


</div>

























