@{
    ViewBag.Title = "OdoslanieSpravy";


}
<div class="form-horizontal w3-text-white w3-center pt-4">

    
        <h2>
            Správa bola odoslaná,ďakujeme za Váš email.<br />
            Srdečná vďaka.<br />
        </h2>
     </div>
 

