@{
    ViewBag.Title = "OdoslanieReg";
}
<h2 class="section-subheading text-white">
    Ďakujeme,že ste sa u nás zaregistrovali a kontaktovali nás.<br />
    Thank you for your registration.<br />
</h2>
<p class="section-subheading text-white">
    <br />Ako zaregistrovaný zákazník okrem iného získavate následovné výhody:
    <br />Rýchlejší nákup vďaka vlastnému zoznamu obľúbených položiek.
    <br />Možnosť byť informovaný o novinkách a akciách.
    <br />Prístup do pripravovaného vernostného a zľavového programu.
</p>











