@{
    ViewBag.Title = "RegistraciaOdoslana";
}
<p>
    Your message has been sent successfully.<br />
    Thank you for your registration.<br />
   </p>
<h3 class="section-subheading text-white">
    <br />Ďakujeme,že ste sa u nás zaregistrovali a kontaktovali nás.
    Ako zaregistrovaný zákazník získate následovné výhody:

    Rýchlejší nákup vďaka vlastnému zoznamu obľúbených položiek.

    Možnosť byť informovaný o novinkách a akciách.
    Prístup do pripravovaného vernostného a zľavového programu.
</h3>












